#S1{
background-color:red;
color:white;
height:100px;
width:100px;
}

#S2{

}
#S3{

}
#K1{
    background-image:url("g.jpeg")
    background-size:cover;
    background-repeat: no-repeat;
    position:  absolute;
    left: 300px;
    top: 1000px;
    height:100px;
    width:200px;
}